.listing-reg {
	h4 {
		text-align: center;
		margin: 0 0 2rem;
		font-weight: bold;
		padding-top: 20px;
	}

	h2 {
		margin-left: 65px;
		font-weight: bold;
		padding-top: 15px;
	}
}

.listing-table {
	width: 100%;
	text-align: center;
	th {
		padding: 10px;
		border-bottom: 1px solid #666;
		background: #000;
		color: #fff;
		&:first-child {
			border-right: 1px solid #666;
		}
	}
	td {
		padding: 10px;
		border-bottom: 1px solid #666;
		&:first-child {
			border-right: 1px solid #666;
		}
	}
}
