extends layout

block content

    if registrations.length
        table.listing-table.thead-light.table-light.table-bordered
            tr
                th Name
                th Email
                th Username 
            each registration in registrations
                tr
                    td= registration.name
                    td= registration.email
                    td= registration.username
    else
        p No registrations yet :(
