extends layout

block content

  main
    section#intro-text
      span Simple Kitchen
      h3
        | Simple &amp; Comforting 
        br
        |             Recipes All Year Round
      p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
      button.submit-buttton View Recipes

    h2 Thank you for your registration!
